<%= render "details" %>

<% content_for :page_header do %>
    <h1>Magia</h1>
<% end %>

<div class="row">
  <div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-list"></i><h3 class="box-title">Yay, digo pew</h3>
    </div>
    <div class="box-body">
            Pew pew pew
    </div>
 </div>
</div>