<%= render "details" %>

<div class="row">
  <div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-upload"></i><h3 class="box-title"> Subir archivo</h3>
    </div>
    <%= form_tag({:action => :done}, multipart: true) do %>
      <div class="box-body">
        <%= file_field_tag :file %>
      </div>
    <% end %>  
    <div class="box-footer">
      <%= submit_tag "Subir", :class => "btn btn-primary" %>
    </div>
  </div>
</div>

