<%= render "details" %>

<% content_for :page_header do %>
     <h1>Titulo de esta página, probablemente predicciones o resultados</h1>
<% end %>

<div class="row">
    <div class="box box-solid">
      <div class="box-header">
        <h3 class="box-title">Formato de caja mágica para luego mostrar resultados - Este es el título</h3>
      </div>
      <div class="box-body">
          Aquí va el contenido, generalmente las gráficas
      </div>
      <div class="box-footer">
          Aquí va el pie de la caja, si no es necesario se borra este div: "box-footer"
      </div>
    </div>
</div>