<h1>Bienvenido a ProductCast</h1>
<p>Nuestros usuarios son lo más importante para nosotros, por eso ioramos todo
el fin de semana para ofrecer un buen producto</p>

<%= link_to 'Ver productos', products_path %>  | <%= link_to 'Subir archivo', upload_file_path %>