<%= render "details" %>

<div class="center jumbotron">
    
    <h1 class="jumbo_text" >Bienvenido a ProductCast</h1>
    <p>Nuestros usuarios son lo más importante para nosotros, por eso ioramos todo
    el fin de semana para ofrecer un buen producto</p>

</div>
