<%= render "details" %>

<div class="center jumbotron">
    
    <h1 class="jumbo_text" >Bienvenido a ProductCast</h1>
    <p>Para comenzar suba un archivo con productos en la pestaña de Subir archivos y después seleccione Predecir Demanda para hacer una predicción.</p>

</div>
