<%= render "details" %>

<% content_for :page_header do %>
    <h1>Términos y condiciones</h1>
<% end %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus eu mauris ut tempus. Proin non aliquet enim. Nullam sed ullamcorper sapien, consectetur scelerisque orci. Cras sit amet quam mi. Praesent lacinia justo quis libero facilisis, quis elementum diam efficitur. Nam lacus odio, tincidunt sit amet interdum gravida, viverra id justo. Etiam enim nibh, feugiat vitae sapien ut, pretium commodo nisi. Morbi dapibus vulputate suscipit. Integer gravida at elit non commodo. Vivamus sit amet tempus dolor, sed molestie est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ac massa id mi luctus blandit. Sed ac blandit magna. Sed eu enim viverra, faucibus quam et, pellentesque magna.

Sed volutpat hendrerit dapibus. Nulla lacinia felis metus, eu sagittis sapien pretium in. Mauris massa dui, tempor et diam nec, ornare cursus risus. Donec pellentesque ante quam, in molestie eros ultrices a. Mauris quam magna, iaculis in mauris a, fringilla dapibus mauris. Cras sit amet porta turpis. Donec ac dolor sit amet lectus gravida ullamcorper sit amet et elit. Donec tristique eros in consequat ullamcorper. In mollis augue vitae tincidunt placerat. Sed sollicitudin commodo odio eu aliquet. Sed ut ipsum ac massa pharetra tempor. Morbi lacinia purus sed viverra faucibus. Nulla feugiat, massa id venenatis ullamcorper, urna magna blandit metus, ut tincidunt ex est at odio. Pellentesque suscipit, ligula et luctus semper, eros ante congue dui, ut posuere mi lacus at nulla. Duis interdum efficitur elit sit amet vehicula. Aenean a diam id magna mattis cursus in nec purus.
</p>