@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* Este CSS fue copiado del tutorial de Ruby, Lumo cámbialo plox */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */


section {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: gray;
    width: 50%;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.center {
  text-align: center;
  .jumbo_text {
    margin-bottom: 10px;
  }
}

/* typography */

.jumbo_text, .jumbo_text, .jumbo_text, .jumbo_text, .jumbo_text, .jumbo_text {
  line-height: 1;
}

.jumbo_text {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.jumbo_text {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-image: image-url("side_bar_bg.png");
}

.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg {
    background-image: image-url("side_bar_bg.png");
}

.fixed .control-sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
}

.logo_p{
  width: 40px;
  height: 40px;
}

.content-wrapper,
.right-side {
  min-height: 100%;
  background-image: image-url("background.png");
  z-index: 800;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 8.5%;
}

.skin-blue .main-header .navbar .logo{
    -webkit-box-shadow: 0px 10px 5px 0px #0006;
    box-shadow: 0px 10px 5px 0px #0006;
}
