// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.productCast{
    font-family:roboto;
    color:white;
    margin-left:4%;
}

.logo_l{
    filter: drop-shadow(3px 3px 3px #636363);
    width:35px;
    height:35px;
    margin-right: 1%;
    margin-top: 15px;
    
}

.content-wrapper, .main-footer{
    margin-left:0px !important;
}

.box-header{
    background-color: #795795;
}
