<% content_for :title do %>
<title>Productos</title>
<% end %>

<% content_for :sidebar_menu_data do %>
  <li ><%= link_to(raw('<i class="fa fa-home"></i> <span>Home</span>'), root_path) %></li>
  <li><%= link_to(raw('<i class="fa fa-upload"></i> <span>Subir archivos</span>'), upload_file_path) %></li>
  <li class="active"><%= link_to(raw('<i class="fa fa-briefcase"></i> <span>Productos</span>'), products_path) %></li>
<% end %>