<%= render "details" %>

<h1>Productos</h1>

<table>
    <tr>
        <th> Producto </th>
        <th></th>
    <tr>

    <% @products.each do |product| %>
        <tr>
            <td><%= product.name %>
            <td><%= link_to 'Ver', product_path(product) %>
        </tr>
    <% end %>
</table>

<br>
