<h2>Productos</h2>

<table>
    <tr>
        <th> Producto </th>
    <tr>

    <% @products.each do |product| %>
        <tr>
            <td><%= product.name %>
        </tr>
    <% end %>
</table>

<br>
<%= link_to 'Inicio', root_path%>