<%= render "details" %>

<h1>Productos</h1>

<table>
    <tr>
        <th> Producto </th>
        <th></th>
        <th></th>
    <tr>

    <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= link_to 'Ver', product_path(product) %></td>
            <td><%= link_to "Predecir demanda", predict_path(:id => product.id)%></td>
        </tr>
    <% end %>
</table>

<br>