<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Productcast (Aquí va el logo)", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Ver productos', products_path %></li>
        <li><%= link_to 'Subir archivo', upload_file_path %></li>
      </ul>
    </nav>
  </div>
</header>